<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos - Wave Box</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a th:href="@{/produtos/novo}">Adicionar Produto</a>
    <ul>
        <li th:each="produto : ${produtos}">
            <span th:text="${produto.nome}">Nome do Produto</span> - 
            <span th:text="${produto.preco}">Preço</span>
            <a th:href="@{/produtos/{id}(id=${produto.id})}">Ver Detalhes</a>
        </li>
    </ul>
</body>
</html>
